/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9/10/2022, 12:50:17 p.m.
    Author     : user
*/
body{
    background: url(imagenes/fondo.jpg);
}

#login{
    position: absolute;
    width: 30%;
    height: 100%;
    /*50 - (30/2)*/left: 35%;
    /*50 - (60/2) top: 20% */
    background: url(imagenes/login.png);
    background-size: 100%;
    top: 0%;
    text-align: center;
}

#ingreso{
   
    position: absolute;
    width: 100%;
    height: 40%;
    top: 30%;
    text-align: center;
    
}

#nombres{
    position: absolute;
    width: 100%;
    height: 40%;
    top: 100%;
    text-align: center;
}
